<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Online Exam portal</h1>
    <h2>The following factors will be checked on your system: </h2>
    <ul>
      <li>1. Operating System</li>
      <li>2. Versions of needed software installed in the computer and its security control levels –
example – Browser, its version and its security settings</li>
      <li>3. Appropriate Camera installation on your system and its configurations </li>
      <li>4. Any other software installed in the computer (like anti-virus, permissions to write in the
disk etc.)</li>
    </ul>

   </div>

  </div>
  {% endblock %}
